<mat-toolbar>
  <div fxShow fxHide.gt-sm>
    <button mat-icon-button type="button" (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div  fxLayout="row" [routerLink]="['/']">
    <img src="assets/images/logo.png" class="logo-techpro" alt="TechPro Logo">
  </div>

  <div fxFlex fxLayoutAlign="end center" fxHide.xs fxLayoutGap="0.5rem">
    <div fxLayout="row" class="h-3 mr-2" fxLayoutGap="15px" fxLayoutAlign="center center">

      <!--
        <a  class="a-header" [routerLink]="['/']" >Home</a>
        <a   class="a-header"href="#services" >Services</a>
        <a   class="a-header" [routerLink]="['/jobs']" >Jobs</a>
        <a   class="a-header"href="#blog" >Blog</a>
        <a   class="a-header"href="#contact" >Contact Us</a>
      -->

      <button mat-button  class="btn-focus" [routerLink]="['/']">
        Home
      </button>
      <button mat-button   class="btn-focus" [routerLink]="['/services']">
        Services
      </button>
      <button mat-button   class="btn-focus" [routerLink]="['/jobs']">
        Jobs
      </button>
      <button mat-button   class="btn-focus">
 <a   class="a-header"href="https://www.thetechpro.be/blog" target="_blank" >Blog</a>
      </button>

      <button  mat-button   class="btn-focus" [routerLink]="['/contact']">
        Contact us
      </button>
      <!-- <button mat-button   class="btn-focus" [routerLink]="['/blog']">
        Blog
      </button> -->


    </div>
  </div>
</mat-toolbar>
