.mat-toolbar {
  background: white;
  color: rgb(31, 29, 29);
}
.cursor-header {
  cursor: pointer;
  outline: 0;
}
.logo-techpro{
  padding: 0;
  margin: 7px 0;
  margin-left: 10px;
  max-height: 26px;
}
.mr-2 {
  margin-right: 2rem!important;
}

.a-header{
text-decoration: none;
color: black;
font-size: 14px;
}

.btn-focus {
  outline: none!important;
}


