<section id="about">
  <div class="container">
    <header class="section-header">
      <!-- <h3>About Us</h3> -->
      <p>
        We build solutions adjusted to your needs. From websites creation to
        databases development, our team can provide a wide range of services.
        Let’s have a closer look at what we have done.
      </p>
    </header>

    <div class="row about-extra" fxLayoutAlign="center center">
      <div class="col-lg-6 wow fadeInUp">
        <a href="https://www.powerads.be" target="_blank">
          <img
            src="assets/images/logopowerads.png"
            class="img-fluid"
            alt="Powerads"
          />
        </a>
      </div>
      <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
        <p>
          PowerADS is a great way to offer mobile charging to your customers,
          but also to advertise your products and services, but also publicity.
          By improving your customer service you will leave a positive
          impression and boost your business, and while your clients are
          charging their phones, whether they are using it or not, they can be
          easily attracted by your menu, special offers or commercials. Both
          sides of the players are usable, so everyone can see what is displayed
          on the screens.
        </p>
        <button class="services-buttons" mat-button>
          <a class="a-header" href="https://www.powerads.be" target="_blank"
            >Learn more</a
          >
        </button>
      </div>
    </div>

    <div class="row about-extra" fxLayoutAlign="center center">
      <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
        <p>
          Work4EU is an outsourcing platform that allows companies to find the
          right IT professionals to fit their specific needs. IT specialists can
          upload their resume on the website, while companies can either look at
          them or post job ads regarding specific missions.
        </p>
        <p>We are always looking for talented people, so lets work together</p>
        <button class="services-buttons" mat-button>
          <a class="a-header" href="https://www.work4eu.com" target="_blank"
            >Learn more</a
          >
        </button>
      </div>
      <div class="col-lg-6 wow fadeInUp">
        <a href href="https://www.work4eu.com" target="_blank">
          <img
            src="assets/images/imgwork4eu.png"
            class="img-fluid"
            alt="Work4eu"
          />
        </a>
      </div>
    </div>
  </div>
</section>
