<section id="about">
  <div class="container">
    <!-- <header class="section-header">
      <p>
        We build solutions adjusted to your needs. From websites creation to
        databases development, our team can provide a wide range of services.
        Let’s have a closer look at what we have done.
      </p>
    </header> -->

    <!-- <div class="row about-extra" fxLayoutAlign="center center">
      <div class="col-lg-6 wow fadeInUp">
        <a href="https://www.powerads.be" target="_blank">
          <img
            src="assets/images/logopowerads.png"
            class="img-fluid"
            alt="Powerads"
          />
        </a>
      </div>
      <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
        <p>
          PowerADS is a great way to offer mobile charging to your customers,
          but also to advertise your products and services, but also publicity.
          By improving your customer service you will leave a positive
          impression and boost your business, and while your clients are
          charging their phones, whether they are using it or not, they can be
          easily attracted by your menu, special offers or commercials. Both
          sides of the players are usable, so everyone can see what is displayed
          on the screens.
        </p>
        <button class="services-buttons" mat-button>
          <a class="a-header" href="https://www.powerads.be" target="_blank"
            >Learn more</a
          >
        </button>
      </div>
    </div> -->

    <!-- <div class="row about-extra" fxLayoutAlign="center center">
      <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
        <p>
          Work4EU is an outsourcing platform that allows companies to find the
          right IT professionals to fit their specific needs. IT specialists can
          upload their resume on the website, while companies can either look at
          them or post job ads regarding specific missions.
        </p>
        <p>We are always looking for talented people, so lets work together</p>
        <button class="services-buttons" mat-button>
          <a class="a-header" href="https://www.work4eu.com" target="_blank"
            >Learn more</a
          >
        </button>
      </div>
      <div class="col-lg-6 wow fadeInUp">
        <a href href="https://www.work4eu.com" target="_blank">
          <img
            src="assets/images/imgwork4eu.png"
            class="img-fluid"
            alt="Work4eu"
          />
        </a>
      </div>
    </div> -->
  </div>
</section>

<!--==========================
      Services Section
    ============================-->

<section id="services" class="section-bg">
  <div class="container">
    <header class="section-header">
      <!-- <h3>Services</h3> -->
      <p>
        We build solutions adjusted to your needs. From websites creation to
        databases development, our team can provide a wide range of services.
        Let’s have a closer look at what we have done.
      </p>
    </header>

    <div class="row">
      <div
        class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
        data-wow-duration="1.4s"
      >
        <div class="box">
          <div class="icon">
            <i class="ion-ios-analytics-outline" style="color: #ff689b;"></i>
          </div>
          <h4 class="title">Outsourcing</h4>
          <p class="description">
            TechPro offers outsourcing and offshoring IT services with European
            standarts and quality for your company.
          </p>
          <ul class="description">
            <li>apps</li>
            <li>logos</li>
            <li>advertising campaigns</li>
            <li>websites</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
        <div class="box">
          <div class="icon">
            <i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i>
          </div>
          <h4 class="title">Apps & website development</h4>
          <p class="description">
            TechPro offers website and web-application development, mobile
            application development and custom software solutions.
          </p>
          <ul class="description">
            <li>apps</li>
            <li>logos</li>
            <li>advertising campaigns</li>
            <li>websites</li>
          </ul>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
        data-wow-delay="0.1s"
        data-wow-duration="1.4s"
      >
        <div class="box">
          <div class="icon">
            <i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i>
          </div>
          <h4 class="title">Creative design</h4>
          <p class="description">
            TechPro offers websites, apps, logos, advertising campaigns,digital
            and printed advertisements design for your company.
          </p>
          <ul class="description">
            <li>apps</li>
            <li>logos</li>
            <li>advertising campaigns</li>
            <li>websites</li>
          </ul>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-5 wow bounceInUp"
        data-wow-delay="0.1s"
        data-wow-duration="1.4s"
      >
        <div class="box">
          <div class="icon">
            <i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i>
          </div>
          <h4 class="title"><a href="">Digital marketing</a></h4>
          <p class="description">
            TechPro offers construction of CMS digital platforms, social media
            management, marketing on social networks and google Ads.
          </p>
          <ul class="description">
            <li>apps</li>
            <li>logos</li>
            <li>advertising campaigns</li>
            <li>websites</li>
          </ul>
        </div>
      </div>

      <!--
          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div> -->
      <!-- services we can add later-->
    </div>
  </div>
</section>
<!-- #services -->
