<section id="about">
  <div class="container">

    <header class="section-header">
      <!-- <h3>About Us</h3> -->
      <p>Our services Our services Our services Our services Our services<br>
        Our services Our services Our services Our services Our services Our services Our services Our services
      </p>
    </header>

    <div class="row about-extra"fxLayoutAlign="center center">
        <div class="col-lg-6 wow fadeInUp" >
            <img src="assets/images/webv1.png" class="img-fluid" alt="Partnership">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <p>PowerAds  PowerAds  PowerAds PowerAds PowerAds PowerAds PowerAds PowerAds PowerAds
                PowerAds PowerAds PowerAds PowerAds PowerAds PowerAds PowerAds PowerAds PowerAds
                PowerAds PowerAds PowerAds PowerAds PowerAds PowerAds PowerAds PowerAds PowerAds
            </p>
              <button  [routerLink]="['/contact']" class="services-buttons" mat-button >Contact us</button>
        </div>

      </div>

    <div class="row about-extra"fxLayoutAlign="center center">

      <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
        <p>Work4eu Work4eu Work4eu Work4eu Work4eu Work4eu Work4eu Work4eu
        Work4eu Work4eu Work4eu Work4eu Work4eu Work4eu Work4eu Work4eu
        Work4eu Work4eu Work4eu Work4eu Work4eu Work4eu Work4eu Work4eu
        Work4eu Work4eu Work4eu Work4eu Work4eu Work4eu Work4eu Work4eu
        </p>
          <button class="services-buttons" mat-button >Learn more</button>
        </div>
        <div class="col-lg-6 wow fadeInUp" >
        <img src="assets/images/webv1.png" class="img-fluid" alt="Partnership">
      </div>
    </div>

  </div>
    </section>
