
<div class="bg-image margin-b">
</div>

<div fxLayout="column"  fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="start center" class="techpro-gif" >
          <img src="assets/images/techprogif.gif">
        </div>
        <div>
            <h1 style="font-size:28px; color:rgb(0, 0, 0);">We're Hiring!</h1>
        </div>

        <div   class="application-entry"fxLayoutAlign="center center" style="text-align: center; display: inline-block;">
                        You have just finished your studies, or you already have IT experience ? <br>
                        You wanna work for European companies ?
                        Techpro is a Belgian company specialised in recruiting IT Workforce  <br>to
                        complete the team of European entreprises. Are you attracted by that
                        kind of challenge ? <br> Click the button to fill in the pre-selection,
                        and a member of our team will take contact with you shortly.

        </div>
</div>

             <!-- <div fxLayout="row" fxLayoutGap="1rem">

                <mat-form-field>
                    <mat-label>Select a profile</mat-label>
                    <mat-select  formControlName="profile">
                      <mat-option *ngFor="let profile of profiles" [value]="profile.value">
                        {{profile.value}}
                      </mat-option>
                    </mat-select>

                </mat-form-field>

                <mat-form-field>
                      <mat-select  placeholder="Select job" [formControlName]="jobs" multiple required>
                        <mat-option *ngFor="let job of jobs" [value]="job.name">
                          {{job}}
                        </mat-option>
                      </mat-select>
                      <mat-error>
                          Job is required.
                        </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutGap="1rem">

              <mat-form-field>
                    <mat-select  placeholder="Select programming languages" [formControlName]="language" multiple>
                      <mat-option *ngFor="let language of languages" [value]="language">
                        {{language}}
                      </mat-option>
                      <mat-error>
                          Select at least one language.
                        </mat-error>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field>
                      <mat-select  placeholder="Select systems" [formControlName]="system" multiple>
                        <mat-option *ngFor="let system of systems" [value]="system">
                          {{system}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

            </div> -->


             <!-- <div fxLayout="row" fxLayoutGap="1rem">

              <mat-form-field>
                    <mat-select placeholder="Business applications" [formControlName]="business" multiple>
                      <mat-option *ngFor="let business of businesses" [value]="business">
                        {{business}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>

              <mat-form-field>
                <input type="text" matInput placeholder="Personal background" formControlName="message" required />
                <mat-error>
                  Background is required.
                </mat-error>
              </mat-form-field>

            </div> -->

<!-- <div  fxLayout="column" fxLayoutAlign="center center"  class="padding-ref" >


      <mat-card class="mat-form">
        <div fxLayout="row" fxLayoutAlign="center center" class="padding-ref"  fxLayoutGap="1rem">
          <h3 style="color: #fcd604;">CV Form</h3>
        </div>
        <mat-card-content>
          <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="cvForm" (ngSubmit)="onSubmit()">

            <div formGroupName="credentials" fxLayout="column"  fxLayoutAlign="center center" fxLayoutGap="2rem">
              <h3>Credentials</h3>
              <div fxLayout="row" fxLayoutGap="1rem">

                      <mat-form-field>
                        <input type="text" matInput placeholder="First name" formControlName="firstName" required />
                        <mat-error>Name is required.</mat-error>
                      </mat-form-field>

                      <mat-form-field>
                        <input type="text" matInput placeholder="Last name" formControlName="lastName" required />
                        <mat-error>Surname is required.</mat-error>
                      </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutGap="1rem">

                      <mat-form-field>
                        <input  type="number" matInput placeholder="Enter age" formControlName="age" required />
                        <mat-error>Age is required.</mat-error>
                      </mat-form-field>

                      <mat-form-field>
                        <input  type="tel" matInput placeholder="Enter phone number" formControlName="phone" required />
                        <mat-error>Phone is required.</mat-error>
                      </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutGap="1rem">

                      <mat-form-field>
                        <input  matInput type="email" matInput placeholder="Enter email" formControlName="email" required />
                        <mat-error>Please enter a valid email address.</mat-error>
                      </mat-form-field>

                      <mat-form-field>
                          <mat-select placeholder="Select gender">
                            <mat-option *ngFor="let gender of genders" [value]="gender.value">
                              {{gender.value}}
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                </div>
              </div>


        <div formGroupName="workEksperience"  fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="2rem">
          <div>
            <h3>Work Eksperience</h3>
          </div>
              <div fxLayout="row">
                  <label>
                    Start date:
                    <input type="text" formControlName="stack">
                  </label>
                  <label>
                    End Date:
                    <input type="text" formControlName="stack">
                  </label>
                  <label>
                  Position:
                    <input type="text" formControlName="stack">
                    </label>
                  <label>
                    Company name:
                    <input type="text" formControlName="stack">
                  </label>
              </div>
        </div>

          <div formGroupName="education" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="1rem">

            <div>
              <h3>Education</h3>
            </div>

            <div fxLayout="row">
              <label>
                Title:
                <input matInput type="text" formControlName="educationTitle">
              </label>

              <label>
                Start date:
                <input   matInput type="date" formControlName="educationStartDate">
              </label>
              <label>
                End Date:
                <input   matInput type="date" formControlName="educationEndDate">
              </label>
              <label>
                University name:
                <input   matInput type="text" formControlName="universityName">
              </label>
            </div>
        </div>


        <div formGroupName="itKnowledge"  fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="1rem">

          <div class="padding-ref">
                <h3>IT Knowledge</h3>
            </div>

            <div fxLayout="row">

                <mat-form-field>
                    <mat-select  placeholder="Select programming languages" [formControlName]="programminglanguage" multiple>
                      <mat-option *ngFor="let language of languages" [value]="language">
                        {{language}}
                      </mat-option>
                      <mat-error>
                          Select at least one language.
                        </mat-error>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field>
                      <mat-select  placeholder="Select systems" [formControlName]="system" multiple>
                        <mat-option *ngFor="let system of systems" [value]="system">
                          {{system}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Business applications" [formControlName]="business" multiple>
                          <mat-option *ngFor="let business of businesses" [value]="business">
                            {{business}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

          </div>
        </div>



        <div fxLayout="column"  fxLayoutAlign="center center" fxLayoutGap="1rem">
            <div>
              <h4>Personal Background</h4>
            </div>

          <div>
              <mat-form-field>
                <input matInput type="text" formControlName="personalBackground" placeholder="Add a short description">
              </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" class="mt-2" fxLayoutAlign="center center">
            <button mat-raised-button [disabled]="isLoading" color="primary" type="submit">
              Submit
            </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div> -->

<!-- <nav class="navbar navbar-expand navbar-light bg-primary d-flex justify-content-between">
  <div class="navbar-brand mb-0 h1 text-white">ONLINE RESUME BUILDER</div>
  <div class="navbar-brand mb-0 h1 text-white">
    <a href="https://github.com/ngdevelop-tech/angular-8-export-pdf" class="text-white h3 mr-3" title="GitHub"><i
        class="fab fa-github"></i></a>
    <a href="https://www.ngdevelop.tech/angular-8-export-to-pdf-using-pdfmake/" title="Blog" class="text-white h3"><i class="fas fa-globe"></i></a>
  </div>
</nav> -->

  <div class="container-fluid">
  <form #resumeForm="ngForm">
    <div class="row">
      <div class="col-md-8">

        <!-- Personal details -->
        <div class="shadow-sm card">
          <div class="card-body">
            <h4 class="card-title d-flex ml-1 align-items-center">
              <i class="material-icons">
                  person_pin
              </i>
              Personal Details</h4>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="resume.name" name="name" placeholder="Enter name"
                    #Name="ngModel" required
                    [ngClass]="{'is-invalid': Name.invalid && (Name.touched || resumeForm.submitted) }">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="resume.surname" name="surname" placeholder="Enter surname"
                      #Surname="ngModel" required
                      [ngClass]="{'is-invalid': Surname.invalid && (Surname.touched || resumeForm.submitted) }">
                </div>
                <div class="form-group">
                  <div class="form-group">
                    <textarea class="form-control" [(ngModel)]="resume.address" name="address" rows="1"
                      placeholder="Address" #Address="ngModel" required
                      [ngClass]="{'is-invalid': Address.invalid && (Address.touched || resumeForm.submitted) }"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="resume.phone" name="phone"
                    placeholder="Enter phone number" #Phone="ngModel" required
                    [ngClass]="{'is-invalid': Phone.invalid && (Phone.touched || resumeForm.submitted) }">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="resume.email" name="emailId"
                    placeholder="Enter Email" #Email="ngModel" required
                    [ngClass]="{'is-invalid': Email.invalid && (Email.touched || resumeForm.submitted) }">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="resume.linkedinAcc" name="linkedinAcc"
                    placeholder="Enter linkedin account"  #Linkedinacc="ngModel" required
                    [ngClass]="{'is-invalid': Linkedinacc.invalid && (Linkedinacc.touched || resumeForm.submitted) }">
                </div>
              </div>
            </div>
          </div>
        </div>

               <!-- Personal Background -->
        <div class="shadow-sm card">
            <div class="card-body">
              <h4 class="card-title d-flex align-items-center">
                <i class="material-icons"> assignment </i>Personal Background</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea  placeholder="Describe your personal background" type="text" class="form-control" [(ngModel)]="resume.personalBackground" name="personalBackground"
                      rows="4"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <!-- Work Experience -->
        <div class="shadow-sm card">
          <div class="card-body">
            <div class="d-flex justify-content-between card-title">
              <h4 class="d-flex align-items-center">
                <i class="material-icons">
                    work
                </i>
                Work Experience</h4>
              <button class="btn btn-primary" (click)="addExperience()">+</button>
            </div>
            <div class="row" *ngFor="let ex of resume.experiences; let i=index">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="employer{{i}}" [(ngModel)]="ex.employer"
                    placeholder="Company name" #Employer="ngModel" required
                    [ngClass]="{'is-invalid': Employer.invalid && (Employer.touched || resumeForm.submitted) }">
                </div>
                <div class="form-group">
                  <div class="form-group">
                    <textarea class="form-control" name="jobDescription{{i}}" [(ngModel)]="ex.jobDescription" rows="3"
                      placeholder="Job Description"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="position{{i}}" [(ngModel)]="ex.position"
                    placeholder="Position" #position="ngModel" required
                    [ngClass]="{'is-invalid': position.invalid && (position.touched || resumeForm.submitted) }">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" name="exInMonths{{i}}" [(ngModel)]="ex.experience"
                    placeholder="Experience in months" #Experience="ngModel" required
                    [ngClass]="{'is-invalid': Experience.invalid && (Experience.touched || resumeForm.submitted) }">
                </div>
              </div>
            </div>

          </div>
        </div>



        <!-- Education -->
        <div class="shadow-sm card">
          <div class="card-body">
            <div class="d-flex justify-content-between card-title">
              <h4 class="d-flex align-items-center">
                <i class="material-icons">
                  school
                </i>
                Education</h4>
              <button class="btn btn-primary" (click)="addEducation()">+</button>
            </div>
            <div class="row" *ngFor="let ed of resume.educations; let i=index">
              <div class="col-md-3">
                <div class="form-group">
                  <select class="form-control" placeholder="Degree" name="degree{{i}}" [(ngModel)]="ed.degree"
                    #Degree="ngModel" required
                    [ngClass]="{'is-invalid': Degree.invalid && (Degree.touched || resumeForm.submitted) }">
                    <option [value]="d" *ngFor="let d of degrees">{{d}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input type="text" class="form-control" name="college{{i}}" [(ngModel)]="ed.college"
                    placeholder="University name" #College="ngModel" required
                    [ngClass]="{'is-invalid': College.invalid && (College.touched || resumeForm.submitted) }">
                </div>
              </div>
               <div class="col-md-3">
                <div class="form-group">
                  <input type="number" class="form-control" name="result{{i}}" [(ngModel)]="ed.startingYear"
                    placeholder="Starting year" #startingYear="ngModel" required
                    [ngClass]="{'is-invalid': startingYear.invalid && (startingYear.touched || resumeForm.submitted) }">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input type="number" class="form-control" name="passingYear{{i}}" [(ngModel)]="ed.passingYear"
                    placeholder="Passing Year" #PassingYear="ngModel" required
                    [ngClass]="{'is-invalid': PassingYear.invalid && (PassingYear.touched || resumeForm.submitted) }">
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Languages -->
        <div class="shadow-sm card">
            <div class="card-body">
              <div class="d-flex justify-content-between card-title">
                <h4 class="d-flex align-items-center">
                  <i class="material-icons">
                      language
                  </i>
                  Languages</h4>
                <button class="btn btn-primary" (click)="addLanguage()">+</button>
              </div>
              <div class="row">
                <div class="col-md-4" *ngFor="let s of resume.languages; let i=index">
                  <div class="form-group">
                    <input type="text" class="form-control" name="language{{i}}" [(ngModel)]="s.value"
                      placeholder="Add languages" #Language="ngModel" required
                      [ngClass]="{'is-invalid': Language.invalid && (Language.touched || resumeForm.submitted) }">
                  </div>
                </div>
              </div>
            </div>
        </div>

        <!-- itKnowledge -->
        <div class="shadow-sm card">
            <div class="card-body">
              <div class="d-flex justify-content-between card-title">
                <h4 class="d-flex align-items-center">
                  <i class="material-icons">
                      memory
                  </i>
                  IT Knowledge</h4>
                <button class="btn btn-primary" (click)="additKnowledge()">+</button>
              </div>
              <div class="row">
                <div class="col-md-4" *ngFor="let s of resume.itKnowledge; let i=index">
                  <div class="form-group">
                    <input type="text" class="form-control" name="skill{{i}}" [(ngModel)]="s.value"
                      placeholder="e.g. Java / Angular / .Net " #Skill="ngModel" required
                      [ngClass]="{'is-invalid': Skill.invalid && (Skill.touched || resumeForm.submitted) }">
                  </div>
                </div>
              </div>
            </div>
          </div>


      </div>  <!--End of personal details -->


       <!--Profile picture and submit -->
    <div class="col-md-4">
          <div class="card p-4">
              <div class="form-group">
                <label class="h4 mb-3" for=""><h4 class="d-flex align-items-center">
                    <i class="material-icons">
                        insert_photo
                    </i>
                    Add Profile picture</h4></label>
                <input type="file" class="form-control-file" (change)="fileChanged($event)" aria-describedby="fileHelpId">
              </div>
              <img *ngIf="resume.profilePic" [src]="resume.profilePic" class="img-thumbnail">
          </div>

        <div class="shadow-sm card action-buttons">
          <!-- <button (click)="resumeForm.valid ? generatePdf('open') : ''"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              picture_as_pdf
            </i> <span>Open PDF</span>
          </button>
          <button (click)="resumeForm.valid ? generatePdf('download') : ''"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              cloud_download
            </i><span>Download PDF</span>
          </button>
          <button (click)="resumeForm.valid ? generatePdf('print') : ''"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              print
            </i><span>Print PDF</span>
          </button>

          <button type='reset' (click)="resetForm()"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              clear
            </i><span>Reset</span>
          </button> -->
          <button type="submit" [disabled]="!resumeForm.valid" (click)="submitForm()"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
                save_alt
            </i> <span>Submit</span>
          </button>
          <button type='reset' (click)="resetForm()"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
                clear_all
            </i><span>Reset</span>
          </button>
        </div>


     </div>  <!--End of submit -->
    </div>
  </form>
</div>



<div fxLayout="column" class="padding-ref">
      <div  fxLayout="column" fxLayoutAlign="space-evenly center">

          <h2>Contact Us</h2>

             <p>If you have any questions, feedback or would like to have a meeting with us, please contact us. We'll get back to you asap!</p>

      </div>

      <div  fxLayout="row" fxLayoutAlign="space-evenly center" class="padding-ref">

      <div>
          <div></div>
          <mat-icon>home</mat-icon>
          <p>Address</p>
          <p>Rr. "Andon Zako Cajupi"  <br />
              Nd.14, H.14, Ap.1<br />
              Tirana</p>
      </div>

      <div>
          <div></div>
          <mat-icon> phone</mat-icon>
          <p >Phone</p>
          <a href="tel: +355 44 81 3008"> +355 44 81 3008</a><br>
          <a href="tel:+355 69 33 22 090">+355 69 33 22 090</a><br>
          <a href="tel:+355692610893">+355 69 26 10 893</a>

      </div>

      <div>
          <div></div>
          <mat-icon>mail</mat-icon>
          <p>Email</p>
          <p>Sent an email at:</p>
          <p><a href="mailto:info@thetechpro.be" title="">jobs@thetechpro.be</a></p>
      </div>

      <div>
          <div></div>
          <mat-icon>group_add</mat-icon>
          <p>Social</p>
          <p>Connect with us:</p>
          <a href="https://www.linkedin.com/company/techpro-be/">Linkedin</a>
      </div>

    </div>

</div>


  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="footer-class" >

        <span>© 2019 <a href="https://www.thetechpro.be" data-title="Programming Company in Albania">TECHPRO</a> by <a href="https://www.odo.thetechpro.be" data-title="Programming Company in Albania">O.D.O.</a> All Rights Reserved.
        </span>

  </div>


