
<div fxHide fxShow.gt-sm  fxLayoutAlign="center center" style="margin-bottom: 20px;">

  <div class="header-work4eu">
      <div class="header-work4eu-inner">
          <h1 style="color: white; ">WELCOME TO TECHPRO</h1>
          <div fxLayout="row">
              <button  routerLink="user" mat-button class="header-button">User</button>
              <button  routerLink="customer" mat-button class="header-button">Customer</button>
          </div>

      </div>

  </div>
</div>   <!-- Header for web-->

<div fxShow.xs fxHide.gt-sm >
    <div class="header-work4eu">
        <div class="header-work4eu-inner">
            <h1 style="color: white; font-size: 3em;">WELCOME TO TECHPRO</h1>

            <div class="empty-div-img"></div>

            <div fxLayout="column">
              <button  routerLink="user" mat-button class="header-button">User</button>
              <button  routerLink="customer" mat-button class="header-button">Customer</button>
            </div>

        </div>

    </div>
</div>  <!-- Header for mobile-->


<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">TechPro</h6>
        <p>If you have any questions, feedback or would like to have a meeting with us, please contact us. We'll get back to you asap!
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
        <p>
          <a href="work.thetechpro.be" target="_blank">Home</a>
        </p>

        <p>
          <a href="https://www.thetechpro.be/services.html" target="_blank">Services</a>
        </p>

      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a href="https://www.thetechpro.be/index.html" target="_blank">About us</a>
        </p>
        <p>
          <a href="https://www.thetechpro.be/terms.html" target="_blank">Terms & Conditions</a>
        </p>
        <p>
          <a href="https://www.linkedin.com/company/techpro-be/" target="_blank">Linkedin</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Rr. "Andon Z. Cajupi",Nd.14, H14, Ap.1 Tirana Albania
        </p>
        <p>
          <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> jobs@thetechpro.be
        </p>
        <p>
          <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 01 234 567 88
        </p>
        <p>
          <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> +355 44 81 3008
        </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div fxLayoutAlign="center center">

      <!-- Grid column -->
      <div  >

        <!--Copyright-->
        <p class="text-center text-md-left">© 2019 <b>TECHPRO </b>
          <a href="https://www.thetechpro.be/" target="_blank">
            <strong> by O.D.O. All Rights Reserved. </strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->

      <!-- <div class="col-md-5 col-lg-4 ml-lg-0">


        <div class="text-center text-md-right">

            <a href="https://www.linkedin.com/company/techpro-be/">
              <mdb-icon fab icon="linkedin"></mdb-icon>
            </a>

           <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <mdb-icon fab icon="facebook"></mdb-icon>
              </a>
              <a href="https://www.linkedin.com/company/techpro-be/">
                <mdb-icon fab icon="linkedin"></mdb-icon></a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <mdb-icon fab icon="twitter"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <mdb-icon fab fab icon="google-plus"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <mdb-icon fab icon="linkedin"></mdb-icon>
              </a>

            </li>
          </ul>
        </div>

    </div> -->

    <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>



