
.htext {
  font-family: Tahoma, Geneva, sans-serif;
}

.mat-form {
  border-radius: 0px;
  padding: 25px;
}
.mat-card {
  background: #ffffff;
  color: rgb(0, 0, 0);
}
.footer-class{
  background: #000000;
  color: rgb(255, 255, 255);
}
.application-entry{
  text-align: center;
  display: inline-block;
  padding: 10px;
}

.techpro-gif{
  background: #fffdfd;
  color: #000000;
  padding: 10px;
}

.padding-ref {
  padding: 20px;
}
.margin-b{
  margin-bottom: 15px;
}

.bg-image {
  background:url(src/assets/images/work4eu2-min.jpg) no-repeat center;
  width:100%;
  height:100%;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}
.row{
  padding: 10px;
}

.card{
  margin: 10px;
}

.material-icons{
  font-size: 30px;
}

.ml-1{
  margin-left: 1 rem;
}

button span{
  font-size: 22px;
}
.button-color-yellow{
  background-color: #dee202 !important;
}

.action-buttons button{
  margin : 5px;
}

