@import '~@angular/material/theming';

html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.full-width {
  width: 100%;
  display: block;
}
.h-3 {
  height: 3rem;
}

.h-2 {
  height: 2rem;
}
.h-1 {
  height: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-1 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}
.mr-1 {
  margin-right: 1rem;
}
.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}
.pl-2 {
  padding-left: 2rem;
}

.pl-1 {
  padding-left: 1rem;
}

.nav-caption {
  display: inline-block;
  padding-left: 10px;
}

.full-width {
  width: 100%;
}

.fs-1 {
  font-size: 1rem;
}
.fs-2 {
  font-size: 2rem;
}
.fs-3 {
  font-size: 3rem;
}

// .background-color {
//   background-image: linear-gradient(
//     to right bottom,
//     #2661ae,
//     #206ab1,
//     #2173b3,
//     #277bb4,
//     #3183b5,
//     #3789b7,
//     #3d8fba,
//     #4495bc,
//     #459bc1,
//     #47a1c7,
//     #48a7cc,
//     #4aadd1
//   );
//   background-position: center;
//   background-size: cover;
//   height: 100%;
// }

.mat-dashboard {
  font-size: 20px;
  font-family: sans-serif;
}
