
.not-found-container {
  height: calc(100vh - 64px);
  width: 100%;
}

.not-found-title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}
