<div fxLayout="center center" fxLayoutGap="15px" fxLayout="row">
    <div></div>
    <div fxLayoutAlign="start center" fxLayout="column">
            <div>
                <h2>PRIVACY POLICY </h2>
            </div>


            <div class="icon-box wow fadeInUp">
              <h4 class="title">
                    Who we are</h4>
                    <p class="description">
                        Our website address is: https://www.thetechpro.be and it is owned by company O.D.O. srl.
                      </p>
              <h4 class="title"> What personal data we collect and why we collect it</h4>

              <p class="description">
                  If you upload images to the website, you should avoid uploading images with embedded location data (EXIF GPS) included. Visitors to the website can download and extract any location data from images on the website.
              </p>
              <h6 class="title"> Media</h6>
              <p class="description">
                  2.2  As a user of this Site, you agree not to:
              </p>
              <p class="description">
                  ● Make any unauthorized use of the Site, including collecting usernames and/or email addresses of users to send unsolicited email or creating user accounts under false pretenses

              </p>
              <p class="description">
                  ● Systematically retrieve data or other content from the Site to a compile database or directory without written permission from us

              </p>
              <h6 class="title"> Contact forms</h6>
              <p class="description">
                  We use Contact/Application Form implemented using Firebase and Angular Technologies for a contact for. Information is received via email and stored there for 2 years without giving it for 3rd parties or using for marketing purposes. It is only there to provide answers to customer/applicant’s inquiries.
              </p>
              <h6 class="title"> Cookies</h6>
              <p class="description">
                  If you leave a comment on our site you may opt-in to saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.
              </p>
              <h6 class="title"> Embedded content from other websites</h6>
              <p class="description">
                  Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.
              </p>

              <p class="description">
                  These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracing your interaction with the embedded content if you have an account and are logged in to that website.
             </p>
             <h6 class="title"> Analytics</h6>
              <p class="description">
                  We use Google Analytics to track visitor data. For more information on how Google and Google Analytics use this data can be found here: https://policies.google.com/technologies/partner-sites
                </p>
                <h6 class="title"> Who we share your data with</h6>
              <p class="description">
                  The protection of your data is important to us. We may share your data with carefully selected and trusted third parties, including other companies in the IT field in the Europe and USA or providers of services to us.
                </p>
                <p class="description">
                    We may share your data with law enforcement agencies and/or third parties if we are required, or we genuinely believe that we are required, to do so by law.

                </p>
                <p class="description">
                    Your data may be transferred to another company in the event we sell all or part of our business.

                  </p>
                  <p class="description">
                      We take all reasonable steps to ensure that third parties to which we share your data with agree to process that data only in ways that we permit them to and a way that complies with the law.

                    </p>

                    <h6 class="title"> What rights you have over your data</h6>
                    <p class="description">
                        If you apply on this site on the customer or applicant form, or have left comments, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.

                    </p>
                    <h6 class="title"> Where we send your data
                      </h6>
                      <p class="description">
                          Visitor comments and forum threads may be checked through an automated spam detection service.

                      </p>
                      <p class="description">
                          Other services that we use on our website that might collect user data:
                        </p>
                        <p class="description">
                            Visitor comments and forum threads may be checked through an automated spam detection service.
                          </p>
                          <p class="description">
                              Other services that we use on our website that might collect user data:
                            </p>
                    <h6 class="title"> Other services that we use on our website that might collect user data: </h6>
                     <p class="description">
                                  •	Google Analytics
                       </p>
                      <p class="description">
                                    •	MailChimp
                        </p>
                        <p class="description">•	Google AdSense</p>
                       <p class="description"> •	OneSignal</p>
                      <p class="description">*Please check their websites on how they might use your data.</p>
                   <h6 class="title"> Your contact information</h6>
                   <p class="description"> TechPRO is a subsidiary of O.D.O. srl <br>
                    support [at] info@thetechpro.be
                   </p>
                   <div class="icon-box wow fadeInUp">
                      <h4 class="title">
                          Additional information</h4>
                          <h6 class="title"> How we protect your data </h6>
                          <p class="description"> We use an SSL certificate in order to encrypt any data sent between you and our server. All administrators of this website are required to use strong passwords  in order to minimise any risk of unauthorised entry.
                            </p>
                            <h6 class="title"> What data breach procedures we have in place
                              </h6>
                            <p class="description"> In the case of a data breach we will inform the Information Belgian “Data Protection Authority” within 72 hours of the suspected breach. When we know information about a breach, we will provide this to individuals affected, together with advice to help them protect themselves from its effects.

                              </p>
                              <h6 class="title"> What third parties we receive data from
                                </h6>
                            <p class="description"> We don't receive any data from third parties.

                              </p>
                              <h6 class="title">What automated decision making and/or profiling we do with user data
                                </h6>
                            <p class="description"> We don't do any automated decision based on user data.

                              </p>
                              <h6 class="title">Industry regulatory disclosure requirements

                                </h6>
                            <p class="description"> You have the right to lodge a complaint with the Belgian “Data Protection Authority”  if you believe your personal information has been processed in a way that does not comply with the GDPR.


                              </p>
                    </div>



            </div>



        </div>

      <div></div>
  </div>



