button span{
  font-size: 22px;
}
.button-color-yellow{
  background-color: #f7a000 !important;
  border: none
}

.button-color-reset{
  background-color: #3f4348 !important;
  border: none
}

.action-buttons button{
  margin : 5px;
}
