<div fxLayout="column" class=" sidenav-color mt-1">

  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.5rem" class="mt-1">

    <div fxLayoutAlign="center center">
       <mat-icon class="icon-sidenav">phone</mat-icon>
       <a  class="a-sidenav"href="#intro" >Home</a>
    </div>
    <div fxLayoutAlign="center center">
        <mat-icon class="icon-sidenav">settings_applications</mat-icon>
        <a   class="a-sidenav"href="#services" >Services</a>
     </div>
     <div fxLayoutAlign="center center">
        <mat-icon class="icon-sidenav">work</mat-icon>
        <a   class="a-sidenav" href="/jobs" >Jobs</a>
     </div>
     <div fxLayoutAlign="center center">
        <mat-icon class="icon-sidenav">chat_bubble</mat-icon>
        <a   class="a-sidenav"href="#contact" >Contact Us</a>
     </div>

    <!-- <button
      fxLayoutAlign="start start"
      mat-button
      class="full-width"
      (click)="onClose()"
      [routerLink]="['/']"
    >
      <mat-icon class="pr-1">home</mat-icon>
      Home
    </button>
    <button
      fxLayoutAlign="start start"
      mat-button
      class="full-width"
      (click)="onClose()"
      [routerLink]="['/about']"
    >
      <mat-icon class="pr-1">description</mat-icon>
      About us
    </button>
    <button
      mat-button
      fxLayoutAlign="start start"
      class="full-width"
      (click)="onClose()"
      [routerLink]="['/user']"
    >
      <mat-icon class="pr-1">supervisor_account</mat-icon>
      Jobs
    </button>
    <button
      mat-button
      fxLayoutAlign="start start"
      class="full-width"
      (click)="onClose()"
      [routerLink]="['/services']"
    >
      <mat-icon class="pr-1">settings</mat-icon>
      Services
    </button>

    <button
      mat-button
      fxLayoutAlign="start start"
      class="full-width"
      (click)="onClose()"
      [routerLink]="['/contact']"
    >
      <mat-icon class="pr-1">phone</mat-icon>
      Contact us
    </button> -->
  </div>
</div>
